[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
  transition: background-color 0.2s ease-in-out;
}
[data-rehype-pretty-code-fragment] .line {
  @apply px-4 py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
  transition: color 0.2s ease-in-out;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-300 bg-opacity-10;
  transition: background-color 0.2s ease-in-out;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
  transition: background-color 0.2s ease-in-out;
}
[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 px-4 text-sm font-medium;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

#twitter-share-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  color: #56b8f5;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #56b8f5;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
#twitter-share-btn:hover {
  color: #fff;
  background-color: #56b8f5;
}
#twitter-share-btn i {
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
}

/*
.dark, h1, h2, h3, h4, h5, h6, h7 {
  color: white;
} */

.link-preview {
  position: relative;
  display: inline-block;
}

.link-preview div {
  position: absolute;
  visibility: visible;
  opacity: 1;
  border-radius: 10px;

  background-color: #ffffff;
  color: #272121;
  font-size: calc(0.7rem + 0.5vw);
  padding: 1rem;
  margin-top: 1rem;
  width: calc(10rem + 10vw);
  left: 1rem;
  /* z-index: 19999; */
  box-shadow: 2px 1px 3px rgba(91, 93, 94, 0.3);
  transition: opacity 0.2s ease-in-out;
}

.link-preview div.hidden {
  visibility: hidden;
  opacity: 0;
}
.link-preview div.visible {
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.link-preview [role='alert'] {
  visibility: hidden;
  color: #eb5656;
  font-family: monospace;
}

.link-preview a {
  text-decoration: none !important;
}

.link-preview h2 {
  font-style: normal;
  margin-top: 0;
  text-decoration: none;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 18px !important;
  display: block;
}

.link-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 80px;
  padding: -20px;
  position: relative;
  transition: opacity 0.2s ease-in-out;
}

.link-preview img:hover {
  opacity: 0.8;
}

.link-preview p {
  font-style: normal;
  font-size: 12px !important;
  line-height: 14px;
  margin-top: 4px !important;
  margin-bottom: 8px !important;
  /* max-height: 30px; */
}
